.wiki-outer-body {
  display: flex;
  justify-content: center;
  /* background-color: #5b79fe; */
  /* background-color: #8b694d;  */
}

#wiki-body {
  max-width: 100%;
  margin: 0 auto;
}

#body-map {
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("");

  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.body-map__container {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.body-map__muscle {
  color: #ebebeb;
  transition: color 25ms ease-in-out;
}

.body-map__muscle:hover {
  color: #5b79fe;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .body-map__body {
    height: 650px;
  }
}

@media screen and (max-width: 500px) {
  .body-map__body {
    height: 650px;
  }
}

@media screen and (max-width: 360px) {
  .body-map__body {
    height: 600px;
  }
}

@media screen and (max-width: 320px) {
  .body-map__body {
    height: 500px;
  }
}


.bb {

  width: 100%;
  height: auto;
}
