body {
  background-image: url("/static/images/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

.container {
  background-image: url("/static/images/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  background: rgba(1, 1, 1, 0.5);
  margin-top: 20px;
  position: center;
  color: aliceblue;
}
form {
  margin: 10px;
  padding-bottom: 15px;
}
h2 {
  margin-left: 130px;
  padding: 15px;
  position: center;
  text-shadow: 1px 1px 2px rgb(11, 11, 11), 0 0 1em rgb(13, 13, 33),
    0 0 0.2em rgb(210, 210, 219);
}

input[type="text"]:focus {
  border: 2px rgb(252, 252, 252);
}
