body {
  background-color: #f5f8fa;
  background-repeat: repeat-x;
  color: #222;
}

h3 .mw-headline {
  color: #204099;
  display: block;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  padding: 10px 0;
}

.steps-list {
  counter-reset: mw-counter;
  list-style: none;
  margin: 4rem 0;
  padding: 0;
}

.steps-list li {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  counter-increment: mw-counter;
  font-size: 1.5rem;
  margin: 0 0 1.5rem 1em;
  padding: 10px 15px 10px 35px;
  position: relative;
}

.steps-list li::before {
  background: #204099;
  border-radius: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 0 5px #f5f8fa,
    5px 0 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  content: counter(mw-counter);
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  left: -1.2em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.steps-list li:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 15px;
}

.mw-content-ltr ul,
.mw-content-ltr ol {
  margin-bottom: 9px;
}

.navbar-brand img {
  margin-right: 0.5em;
  max-height: 30px;
  border: none;
  outline: none;
}

a img {
  border: none;
}

.navbar input {
  background-color: #555;
  border-color: #111;
  color: #aaa;
  margin-bottom: 0;
}

.nav > li > a {
  padding: 15px;
}

#wiki-body h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
}

.page-header .nav i {
  opacity: 0.3;
}

.nav-collapse.in {
  height: auto !important;
}

#toc:not(.toc-sidebar) {
  display: none;
  float: right;
  margin: 0 0 1em 1em;
}

#toc td {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  display: block;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 0 1em 1em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#toctitle h2 {
  font-size: 16px;
}

a.new {
  color: #86100f;
}

#catlinks {
  border-top: 1px dotted #eee;
  margin-top: 2em;
  padding: 1em 0;
}

#catlinks #mw-normal-catlinks > a {
  color: #999;
}

#catlinks li {
  border-left: 1px solid #ddd;
}

#catlinks li:first-child {
  border-left: none;
}

.bottom {
  background: #20409a;
  margin-top: 3em;
  padding-bottom: 2em;
}

.bottom .mw-editsection {
  display: none;
}

.master-footer {
  color: #fff;
}

.copy-button {
  padding: 0.2em;
  font-size: 0.7em;
}

.copy-icon {
  color: #1e409a;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 140%;
  margin-left: -75px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

@media (min-width: 1000px) {
  .master-footer-grid {
    grid-template-columns: 300px auto 300px;
    justify-content: space-between;
  }
}

.master-footer-grid {
  display: grid;
  margin-top: 2em;
  row-gap: 4rem;
}

.footer-section {
  align-self: center;
}

@media (max-width: 999px) {
  .footer-section {
    justify-self: center;
  }
}

.footer-section-title {
  margin-bottom: 1.2rem;
}

.footer-text {
  margin: 0;
  line-height: 1.4;
}

.footer-icons-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-tagline {
  font-weight: 700;
  font-size: 1.2em;
  margin: 2rem 0;
}

@media (max-width: 999px) {
  .footer-tagline {
    text-align: center;
    margin-top: 4rem;
  }
}

.footer-brands {
  text-align: right;
  min-width: 200px;
  max-width: 200px;
}

@media (max-width: 999px) {
  .footer-brands {
    text-align: center;
  }
}

.footer-brand-icon {
  font-size: 3rem;
}

.bottom a.footer-brand-link {
  text-decoration: none;
  transition: color 0.2s ease, color 0.4s ease;
}

.bottom a.footer-brand-link:first-child {
  margin-left: 0;
}

.bottom a.footer-brand-instagram:hover {
  color: #fb3958;
}

.bottom a.footer-brand-twitter:hover {
  color: #00acee;
}

.bottom a.footer-brand-facebook:hover {
  color: #3b5998;
}

.bottom a.footer-brand-reddit:hover {
  color: #ff4500;
}

.bottom a {
  color: #fff;
  text-decoration: underline;
}

.footer-app-section {
  min-width: 80px;
  text-align: center;
}

.footer-app-icon {
  font-size: 3rem;
  transition: color 0.2s ease;
}

.footer-app-google:hover {
  color: #48ff48;
}

.footer-app-apple:hover {
  color: #222;
}

.printfooter {
  display: none;
}

div.thumb {
  margin-bottom: 0.5em;
  width: auto;
  background-color: transparent;
}

div.thumbinner {
  border: 1px solid #ccc;
  padding: 3px !important;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}

html .thumbimage {
  border: 1px solid #ccc;
}

html .thumbcaption {
  border: none;
  text-align: left;
  line-height: 1.4em;
  padding: 3px !important;
  font-size: 94%;
}

div.magnify {
  float: right;
  border: none !important;
  background: 0 0 !important;
}

div.magnify a,
div.magnify img {
  display: block;
  border: none !important;
  background: 0 0 !important;
}

div.tright {
  clear: right;
  float: right;
  margin: 0.5em 0 1.3em 5em;
}

div.tleft {
  float: left;
  clear: left;
  margin: 0.5em 1.4em 1.3em 0;
}

img.thumbborder {
  border: 1px solid #ddd;
}

.brand img {
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar input {
  background-color: #f5f5f5;
  border-color: #ccc;
  color: #333;
}

.exercise-images-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.workout-img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .bottom {
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar {
    margin-left: 0;
    margin-right: 0;
  }

  .exercise-images-grid {
    height: 20px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 979px) {
  .navbar-form,
  .navbar-search {
    margin-bottom: 0;
    display: none;
  }

  .nabar-inner,
  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .navbar-inner {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  #toc {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#wiki-outer-body {
  max-width: 100%;
  padding: 0 5px;
  overflow-x: hidden;
}

#malefigures {
  display: block;
}

#femalefigures {
  display: none;
}

.content-menu {
  margin-top: 3em;
}

#sex-choice-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 979px) {
  #sex-choice-wrapper {
    text-align: left;
  }
}

#sex-choice-wrapper label.btn span {
  font-size: 1.5em;
}

#sex-choice-wrapper .fa-circle {
  color: #c8c8c8;
  display: inline;
}

#sex-choice-wrapper .fa-check-circle {
  display: none;
}

#sex-choice-wrapper input[type="radio"]:checked ~ i.far.fa-circle {
  display: none;
}

#sex-choice-wrapper input[type="radio"]:checked ~ i.far.fa-check-circle {
  color: #20409a;
  display: inline;
}

#sex-choice-wrapper label:hover input[type="radio"] ~ i.fa {
  color: #20409a;
}

#sex-choice-wrapper label:hover input[type="checkbox"] ~ i.fa {
  color: #20409a;
}

#sex-choice-wrapper div[data-toggle="buttons"] label.active {
  color: #20409a;
}

#sex-choice-wrapper div[data-toggle="buttons"] label {
  margin-top: 0;
  column-gap: 5px;
  display: grid;
  grid-template-columns: 30px auto;
  padding: 6px 24px 6px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0 solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#sex-choice-wrapper div[data-toggle="buttons"] label:hover {
  color: #204099;
}

#sex-choice-wrapper div[data-toggle="buttons"] label:active,
#sex-choice-wrapper div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sex-chooser-buttons {
  display: grid;
}

@media (min-width: 765px) {
  .sex-chooser-buttons {
    display: block;
    flex-shrink: 1;
  }
}

.main-nav {
  position: relative;
  flex-grow: 1;
  max-width: 860px;
  margin-left: 20px;
}

.mobile-nav {
  display: none;
}

.mobile-menu-toggle {
  display: none;
}

@media (max-width: 765px) {
  .main-nav {
    display: none;
  }

  .mobile-nav,
  .mobile-menu-toggle {
    display: block;
  }
}

.home-options-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.home-options-container::before,
.home-options-container::after {
  display: none;
}

@media (max-width: 765px) {
  .home-options-container {
    margin: 1rem 3rem -15rem;
    width: auto;
  }
}

.mobile-menu-toggle {
  display: block;
  background: url(../images/home/fitness-equipment@2x.png) no-repeat;
  background-color: #fff;
  background-size: auto 60%;
  background-position: center center;
  border: solid 2px #20409a;
  border-radius: 20px;
  height: 40px;
  width: 100px;
}

.mobile-menu-toggle--section-selected {
  background-color: #d8e2fb;
}

.mobile-toggle-button-label {
  pointer-events: none;
}

.mobile-menu-toggle:hover {
  color: #fff;
}

.mobile-menu {
  display: grid;
  border: solid 3px #20409a;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  transition: top 0.2s ease, opacity 0.2s ease;
  z-index: 99;
}

.mobile-menu--open {
  pointer-events: inherit;
  opacity: 1;
  top: 0;
}

.mobile-menu-button {
  display: block;
  background: #fff;
  border: 0;
  border-bottom: solid 3px #20409a;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

.mobile-menu-button:hover {
  background: #20409a;
  color: #fff;
}

.mobile-menu-button:last-child {
  border-bottom: 0;
}

button:hover .selected-category {
  color: #fff;
}

.section-menu {
  display: flex;
  width: 100%;
}

.section-button {
  position: relative;
  width: 25%;
  display: inline-block;
  margin: 0;
  background: #fff;
  border: solid 3px #20409a;
  border-right: 0;
  color: #20409a;
  font-weight: 700;
  height: 45px;
  padding: 0 10px;
  text-transform: uppercase;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.section-button:hover {
  background: #d9dbe5;
}

.section-button:first-child {
  border-radius: 3px 0 0 3px;
}

.section-button:last-child {
  border: solid 3px #20409a;
  border-radius: 0 3px 3px 0;
}

.more-menu-opt {
  background: #fff;
  border: 0;
  color: #20409a;
  display: block;
  font-weight: 700;
  height: 45px;
  padding: 0 10px;
  border-top: solid 3px #20409a;
}

.more-menu-opt:hover {
  background: #d9dbe5;
}

.more-menu-opt:first-child {
  border-top: 0;
}

@media (max-width: 767px) {
  .show-more-button {
    display: block;
    background: #fff;
    border: solid 3px #20409a;
    border-radius: 4px;
    color: #20409a;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
  }

  .show-more-button:hover {
    background: #20409a;
    border: solid 3px #20409a;
    color: #fff;
  }
}

.more-menu {
  border: solid 3px #20409a;
  display: grid;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  position: absolute;
  transition: top 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
  right: 0;
  top: 100px;
  width: 30rem;
  z-index: 2;
}

.more-menu--open {
  opacity: 1;
  pointer-events: inherit;
  top: 50px;
}

@media (max-width: 766px) {
  .more-menu {
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
  }

  .more-menu--open {
    top: 70px;
  }
}

.category-display {
  pointer-events: none;
}

.new-section-badge {
  background: #ff5034;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0.68em;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  position: absolute;
  left: -15px;
  top: -15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: rotate(-20deg);
  width: 30px;
}

.new-section-badge::before,
.new-section-badge::after {
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  background: #ff5034;
  z-index: -9;
}

.new-section-badge::before {
  transform: rotate(62deg);
}

.new-section-badge::after {
  transform: rotate(-58deg);
}

.section-selected,
.section-selected:hover,
.more-menu-opt.section-selected:hover,
.more-option-selected {
  background: #20409a;
  color: #fff;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (min-width: 767px) {
  #adBottom {
    display: none;
  }
}

@media (max-width: 767px) {
  #adBottom {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
}

td.clickablecell a {
  display: block;
  width: 100%;
}

table.wikitable {
  width: 100%;
  border: 1px solid #ddd;
  border-style: solid;
}

table.wikitable > tr > td,
table.wikitable > * > tr > td {
  width: 25%;
  border-style: solid;
  border: 1px solid #ddd;
  padding: 8px;
}

.tocnumber {
  display: none;
}

.wikimb {
  margin-bottom: 2em;
}

.mc-modal {
  padding-top: 80px;
  z-index: 1900 !important;
}

.mc-closeModal {
  padding-top: 110px;
  z-index: 1910;
}

#google_translate_element img {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 2px;
}

.goog-te-gadget .goog-te-combo {
  color: #000 !important;
}

input,
select,
textarea {
  font-size: 16px;
}

.navbar {
  z-index: 999999;
}

a:lang(ar),
a:lang(kk-arab),
a:lang(mzn),
a:lang(ps),
a:lang(ur) {
  text-decoration: none;
}

input {
  -webkit-touch-callout: none;
}

.twitter-follow-button {
  margin-bottom: 5px;
}

.exercise-more-button {
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}

.fa-2x {
  font-size: 2em;
}

#heading-outbox::after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

#heading-rightbox {
  position: relative;
  padding-top: 35px;
}

@media (min-width: 992px) {
  #heading-leftbox {
    float: left;
  }

  #heading-rightbox {
    width: 70%;
    float: right;
  }
}

@media (min-width: 420px) {
  .qrrow {
    display: flex;
  }
}

.qr-col-1 {
  flex-grow: 1;
}

.qr-col-3 {
  flex-shrink: 1;
}

.qrimg {
  display: block;
  height: auto;
  width: auto;
  max-height: 90px;
  max-width: 90px;
  margin-top: 30px;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.long-form-video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.long-form-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .publift-exercise-header {
    position: absolute;
    right: 5%;
    top: 100%;
    display: none;
  }
}

.seo-tags {
  margin: 0 0 1.5rem 1em;
}

.tag-cloud-link {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  line-height: 4;
}

.exercise-list-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summernote-content ul {
  list-style-type: disc !important;
  list-style-position: inside;
  padding-left: 10px;
}

.summernote-content li {
  margin-bottom: 1.2rem !important;
}

.rs-cutom-input {
  border: 0;
  padding: 5px 0;
  font-size: 1.4rem;
}
