
<html class="">
<head>
<title>Shoulders</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />




<link rel="stylesheet" href="/static/css/index.css">
<!-- <script type="text/javascript" src="/static/js/jquery-2.1.0.js"></script> -->
<!-- <script type="text/javascript" src="static/js/bootstrap.js"></script> -->

</head>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Main_Page skin-bootstrap-mediawiki action-view  ">




</body>

</html>

<div id="wiki-outer-body">
<div id="wiki-body" class="container">
<div class="body">
<div id="mw-content-text">
<div class="exercise-list-header">
<h1>
<a href="https://en.wikipedia.org/wiki/Shoulder"  style="color: #204099;">Shoulders</a>
</h1>
</div>
<div>
<h3 class="h3">
<span class="mw-headline" id="">
<a href="">Yoga for Shoulders</a>

</span>
</h3>
<div>
<p><strong>Difficulty:</strong> Beginner</p>
</div>
<div class="exercise-images-grid">
<a href="">
<video playsinline preload="metadata" muted autoplay loop class="workout-img" style="margin: 4rem 20rem 1rem;" src="https://www.shape.com/thmb/03Hxn-DKBey4m8BZ3BCkXt9alFQ=/750x0/filters:gifv(webm)/ezgif.com-resize20281129-feb4bf66b45f4066829dd4d60e5442e2.gif" />
</a>

</div>
<ol class="steps-list" style="margin: 4rem 0 1rem;">
<li>Sit on a bench with back support. Raise the dumbbells to shoulder height with your palms forward.</li>
<li>Raise the dumbbells upwards and pause at the contracted position.</li>
<li>Lower the weights back to starting position.</li>
</ol>
<a href="/model">Start Your Practice</a>
</div>
</div>
</div>
</div>
</div>
</div>

</div>