<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Our team</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />     <link rel="icon" href="/static/images/tabicon.png" type="image/x-icon" />
</head>
<body>
       <!-- nav bar starts -->
       <nav  class="navbar navbar-expand-lg fixed-top bgcolor ">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="/static/images/tabicon.png" alt="yogi"></a>  
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link smoothScroll">Home</a>
                    </li>
     
                    <li class="nav-item">
                        <a href="/about" class="nav-link smoothScroll">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="/team" class="nav-link smoothScroll">Our Team</a>
                    </li>

                
                    
                    <li class="nav-item">
                        <a href="/popup" class="nav-link smoothScroll">BodyBits</a>
                    </li>
                 
                </ul>
            </div>
        </div>
    </nav>
  <!-- navbar ends -->
   
</body>
</html>