<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" href="/static/images/tabicon.png" type="image/x-icon">
        <title>User Account</title>
    </head>
<body>
    <div  class="hero d-flex flex-column justify-content-center align-items-center">
        <video autoplay loop muted plays-inline class="back-video">
        <source src="/static/videos/video_yoga.mp4" type="video/mp4">
        </video>
        
       <!-- nav bar starts -->
    <nav  class="navbar navbar-expand-lg fixed-top bgcolor ">
        <div class="container ">
            <a href="/" class="navbar-brand"><img src="/static/images/tabicon.png" alt="yogi"></a>  
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/user" class="nav-link smoothScroll">Home</a>
                    </li>
     
                    <li class="nav-item">
                        <a href="/about" class="nav-link smoothScroll">About</a>
                    </li>
<!-- 
                    <li class="nav-item">
                        <a href="/team" class="nav-link smoothScroll">Our Team</a>
                    </li> -->
                    
                    <li class="nav-item">
                        <a href="/body" class="nav-link smoothScroll">BodyBits</a>
                    </li>
                </ul>
				
				<div class="navbar-text ml-auto">
					<div class="row align-items-center">
						<div class="col-sm-6">
			       <strong>{{session.name}}</strong>
						</div>
						<div class="col-sm-6 text-right">
							<a href="{{ url_for('logout') }}"> Logout</a>
						</div>
					</div>
				</div>
				
            </div>
        </div>
    </nav>
  <!-- navbar ends -->
        
        
        
      <div class="content">
      <h1>YOGI </h1>
      <a href="/about">Explore</a>
      
      
      </div>
      
</div>
	

	    
  <div class="wrapper">

    <div class="about-container">
        
        <div class="image-container">
            <img class="about_img" src="https://img.freepik.com/premium-vector/woman-doing-workout-home-yoga-fitness-healthy-lifestyle-illustration_222438-32.jpg?w=2000" alt="">
    
        </div>

        <div class="text-container">

            <p>Welcome to Yogi, your personal AI yoga instructor! We're a team of passionate developers and yoga practitioners who believe that technology can help make yoga more accessible and personalized for everyone.

                With Yogi, you can enjoy a customized yoga practice tailored to your unique needs and goals. Our AI-powered platform analyzes your body's movements and provides real-time feedback and guidance to help you improve your form and get the most out of each pose.At Yogi, we believe that technology and wellness can go hand in hand. We're passionate about using the latest advances in AI and machine learning to help you achieve your health and fitness goals, and we're constantly exploring new ways to make yoga more accessible and enjoyable for everyone.

                Thank you for choosing Yogi as your personal yoga instructor. We look forward to helping you achieve your yoga and wellness goals!</p>
            <a class="about_links" href="/SignUp">Practice Now</a>
        </div>
        
    </div>
</div>

	










<script>
    const nav = document.querySelector('nav');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 50) {
            nav.classList.add('active_nav');
        } else {
            nav.classList.remove('active_nav');
        }
    })
</script>


   <!-- Footer -->

   <footer>
    <div class="footer-cont">
      <h3>YOGI-The Ai Instructor</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur ad3ipisicing elit. Illo iste
        corrupti doloribus odio sed!
      </p>
      <ul class="socials">
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p><span></span></p>
    </div>
  </footer>
</body>
</html>

