<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" href="/static/images/tabicon.png" type="image/x-icon">
        <title>User Account</title>
    </head>
<body>

	
   <!-- nav bar starts -->
   <div class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<a href="/" class="navbar-brand"><img src="/static/images/tabicon.png"></a>  
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item">
					<a href="/" class="nav-link smoothScroll">Home</a>
				</li>
 
				<li class="nav-item">
					<a href="/about" class="nav-link smoothScroll">About</a>
				</li>

				<li class="nav-item">
					<a href="/team" class="nav-link smoothScroll">Our Team</a>
				</li>

				<li class="nav-item">
					<a href="/SignUp" class="nav-link smoothScroll">Register</a>
				</li>
				
				<li class="nav-item">
					<a href="/model" class="nav-link smoothScroll">Model</a>
				</li>
				
				<li class="nav-item">
					<a href="/body" class="nav-link smoothScroll">Choose Body part</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- navbar ends -->

<div class="container">


	<div class="row">	
		Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a>
	</div>
	<br><br>
	<div class="row">
	    
		<h2>Welcome to the user profile page...</h2> 
	</div>		
</div>
</body>
</html>

